html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
} 

body {
  margin: 0;
  padding: 0;
  height: inherit;
  width: inherit;
  font-family:  "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: inherit;
}

#chart {
  width: 100vw;
  height: 100vh;
}
